/*** General page layout ***/

body, div, td {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 120%;
}
a {
  color: #059 !important;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.ui-layout-content {
  overflow: auto;
  border-top: 0 !important;
}
.ui-tabs-nav li {
  white-space: nowrap;
}
.ui-tabs-nav li a {
  font-size: 12px !important;
  padding: 4px 1.5ex 3px !important;
}
.ui-tabs-panel {
  font-size: 12px !important;
  padding: 0 1em !important;
}
.tab {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#page-header {

}
#page-footer {
  padding: 1px !important;
}
#context-panel {

}
#focus-panel {

}
#focus-panel-content {
  padding: 0 !important;
}
#event-title {

}
.nopadding, .layout-tabs {
  padding: 0 !important;
  border: 0 !important;
}
.center { text-align: center; }
.right { text-align: right; }
.left { text-align: left; }


/*** Lists ***/

table.list {
  width: 100%;
}
table.list td {
  padding: 8px;
  border-top: 1px solid #ccc;
}
table tr.header {
  font-weight: bold;
  background-color: #ddd;
}
td.shorttimecol {
  max-width: 100px !important;
  min-width: 60px !important;
}
table.list a {
  color: #069;
  text-decoration: none;
}
table.list a:hover {
  text-decoration: underline;
}


svg.timefilter {
  font: 10px sans-serif;
}
svg.timefilter path.foreground-series {
  stroke: #08d;
  fill: #08d;
  fill-opacity: 0.2;
}
svg.timefilter path.background-series {
  stroke: #ddd;
  fill: #ddd;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
svg.timefilter .brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}