#main-tab-stories li.story {
  padding: 4px;
  border-bottom: 1px solid #eee;
  position: relative;
  font-size: 1.1em;
}
#main-tab-stories li.story:hover {
  background-color: #dde5ff;
  cursor: pointer;
}
#main-tab-stories li.story a:hover {
  text-decoration: none;
}
#main-tab-stories li.story div {
  padding: 0 !important;
}
#main-tab-stories li.story .title {
  margin-left: 160px;
  overflow: hidden;
  max-height: 2.3em;
}
#main-tab-stories li.story .time {
  position: absolute;
  top: 4px;
  left: 5px;
  width: 100px;
  text-align: center;
}
#main-tab-stories li.story .sources {
  position: absolute;
  top: 4px;
  left: 110px;
  width: 45px;
  text-align: center;
}
#main-tab-stories li.story .inlinesparkline {
  position: absolute;
  top: 14px;
  left: 5px;
  height: 15px;
  width: 60px;
  overflow: hidden;
}
#main-tab-stories li.header {
  font-weight: bold;
}
#main-tab-stories #stories-filters {
  margin-top: 5px !important;
}

