<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
  <appSettings>
    <add key="connectionString" value="Server=localhost;Database=jakob;User ID=jakob;Password=the_jak0b$;Allow User Variables=True;charset=utf8;"/>
    <add key="twitterUsername" value="CrisisDev2"/>
    <add key="twitterPassword" value="Qw12*-"/>
    <add key="sourceID" value="2"/>
  </appSettings>
</configuration>
