svg.dot-plot {
    width: 100%;
    height: 100%;
}
svg.dot-plot g.data-item circle {
    fill: #fff;
    fill-opacity: 0.25;
    stroke: black;
    stroke-opacity: 0.4;
}
svg.dot-plot g.data-item.mouseover circle {
    fill-opacity: 0.8;
    stroke-opacity: 1;
    fill: #6bf !important;
}
svg.dot-plot g.data-item.selected circle {
    fill-opacity: 1;
    fill: #adf !important;
}

svg.dot-plot .axis {
   shape-rendering: crispEdges;
   font: 11px sans-serif;
}
svg.dot-plot .x.axis line, .x.axis path {
    stroke: none;
    fill: none;
}
svg.dot-plot .x.axis .major line {
    stroke: #ddd;
}
svg.dot-plot .x.axis .minor {
    stroke: #e2e2e2;
}
svg.dot-plot .y.axis {
    stroke: #ccc;
    stroke-width: 2px;
}
svg.dot-plot .category-label {
    font: 16px arial;
    font-weight: bold;
    fill: #555;
    text-transform: uppercase;
}