ul.item-list li.list-item {
    border-bottom: 1px solid #ddd;
    padding: 2px;
}
ul.item-list li.list-item.selected {
    background-color: #e3e3e3;
}
ul.item-list li.list-item:hover {
    background-color: #eee;
}
ul.item-list li.message {
    padding: 8px;
    text-align: center;
}
